<%- bootstrap.selectField(build, 'app_id', apps, { name: 'build', label: 'App' }) %>
<%- bootstrap.textField(build, 'title', { name: 'build' }) %>
<%- bootstrap.textField(build, 'filename', { name: 'build' }) %>
<%- bootstrap.textField(build, 'identifier', { name: 'build' }) %>
<%- bootstrap.textField(build, 'version', { name: 'build' }) %>
<%- bootstrap.textField(build, 'version_string', { name: 'build' }) %>
<%- bootstrap.textField(build, 'minimum_system_version', { name: 'build' }) %>
<%- bootstrap.textField(build, 'length', { name: 'build' }) %>
<%- bootstrap.textField(build, 'download_url', { name: 'build' }) %>
<%- bootstrap.textField(build, 'signature', { name: 'build' }) %>
<%- bootstrap.textField(build, 'download_limit', { name: 'build' }) %>
<%- bootstrap.textareaField(build, 'notes', { rows: 8, name: 'build', label: 'Release notes (markdown)', class: 'form-control markdown-source' }) %>
<label>Release notes (preview)</label>
<div class="panel panel-default">
  <div class="panel-body markdown-target bg-info">
  </div>
</div>
