<%- bootstrap.breadcrumb(['Builds', '/admin/builds'], 'View') %>

<h1>Build <%= build.version %></h1>

<ul>
<% ['title', 'filename', 'identifier', 'version', 'version_string'].forEach(function(field) { %>
  <li><%= field %>: <%= build[field] %></li>
<% }) %>
  <% channels.forEach(function(channel) { %>
    <li><%= channel.title %> download URL: <a href="<%= downloadUrl(rootUrl, build, channel) %>"><%= downloadUrl(rootUrl, build, channel) %></a></li>
    <li><%= channel.title %> release notes URL: <a href="<%= buildHelpers.releaseNotesUrl(rootUrl, build, channel) %>"><%= buildHelpers.releaseNotesUrl(rootUrl, build, channel) %></a></li>
  <% }) %>
</ul>
